
Code/Hela_ROI_9_30_1859_6893_201/ROI_1859_6893_201_z0290.tif
*.asv
Code/resultsThirtyCells_3.fig
Code/Hela8000_cells.fig
Code/resultsThirtyCells_6.fig
Code/Hela8000_video_3b.gif
Code/Hela8000_cellsB.fig
Code/Hela8000_video_4b.gif
Code/Hela8000_video_4a.mp4
Code/Hela_ROI_23_30_6816_1601_341/desktop.ini
Code/results_23NucleiAndCells.fig
Figures/Fig1.fig
Figures/Fig5_6.fig
Code/cells/cell_12.png
Code/cells/cell_10.png
Code/cells/cell_11.png
Code/cells/cell_13.png
Code/cells/cell_14.png
Code/cells/cell_15.png
Code/cells/cell_16.png
Code/cells/cell_17.png
Code/cells/cell_18.png
Code/cells/cell_19.png
Code/cells/cell_2.png
Code/cells/cell_20.png
Code/cells/cell_21.png
Code/cells/cell_22.png
Code/cells/cell_23.png
Code/cells/cell_24.png
Code/cells/cell_3.png
Code/cells/cell_4.png
Code/cells/cell_5.png
Code/cells/cell_6.png
Code/cells/cell_7.png
Code/cells/cell_8.png
Code/cells/cell_9.png
Figures/Fig_allROIs.fig
Code/Fig13A.fig
Code/Fig13B.fig
Code/Fig13C.fig
MatlabFigs/Fig1.fig
MatlabFigs/Fig9.fig
MatlabFigs/Fig_allROIs.fig
MatlabFigs/HeLa3D_VerHorSlices.fig
MatlabFigs/Fig13A.fig
MatlabFigs/Fig13B.fig
MatlabFigs/Fig13C.fig
MatlabFigs/Hela8000_cells.fig
MatlabFigs/Hela8000_cellsB.fig
MatlabFigs/results_23NucleiAndCells.fig
Figures/Hela8000_video_3b.gif
Figures/Hela8000_video_4c.gif
Figures/Hela8000_video_4b.gif
MatlabFigs/Fig13_scale_zoom.fig
MatlabFigs/Fig13_scale.fig
